---
import Layout from "@/layouts/Layout.astro";

import BackToHomeLink from "@/components/BackToHomeLink.astro";
import BrowserSupport from "@/components/BrowserSupport.astro";
import MdnDoc from "@/components/MdnDoc.astro";
import PageHeader from "@/components/PageHeader.astro";
import PageSection from "@/components/PageSection.astro";

const title = ":focus-within";
---

<Layout title={title} description="">
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Web/CSS/:focus-within" text={title}>
      the <code>:focus-within</code> css pseudo-class matches an element if the element
      or any of its descendants are focused. in other words, it represents an element
      that is itself matched by the :focus pseudo-class or has a descendant that
      is matched by <code>:focus</code>. (this includes descendants in shadow
      trees.)
    </MdnDoc>
  </PageSection>
  <PageSection>
    <form>
      <fieldset class="example1">
        <legend>#1</legend>
        <label for="username1">username</label>
        <input
          type="text"
          id="username1"
          placeholder="focus here"
          autocomplete="username"
        />
        <label for="password1">password</label>
        <input
          type="password"
          id="password1"
          placeholder="focus here"
          autocomplete="current-password"
        />
      </fieldset>
    </form>
    <form>
      <fieldset class="example2">
        <legend>#2</legend>
        <label for="username2">username</label>
        <input
          type="text"
          id="username2"
          placeholder="focus here"
          autocomplete="username"
        />
        <label for="password2">password</label>
        <input
          type="password"
          id="password2"
          placeholder="focus here"
          autocomplete="current-password"
        />
      </fieldset>
    </form>
  </PageSection>
  <PageSection>
    <BrowserSupport
      items={[
        {
          value: ":focus-within",
          chrome: "60",
          firefox: "52",
          safari: "10.1",
        },
        {
          value: "::placeholder",
          chrome: "57",
          firefox: "51",
          safari: "10.1",
        },
      ]}
    />
  </PageSection>
  <BackToHomeLink />
</Layout>

<style>
  form {
    margin-bottom: 2.5rem;
  }

  input[type="text"] {
    margin-bottom: 1rem;
  }

  .example1:focus-within {
    border: 1px solid var(--blue-300);
  }

  .example1:focus-within > legend {
    color: var(--blue-300);
  }

  .example2:focus-within {
    border: 1px solid var(--pink-300);
  }

  .example2:focus-within > legend {
    color: var(--pink-300);
  }
</style>
