.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.link {
  align-items: center;
  display: inline-flex;
  gap: 0.1rem;
}

.icon {
  height: 1rem;
  width: 1rem;
}
