---
import { BackToHomeLink } from "@/components/back-to-home-link";
import { BrowserSupport } from "@/components/browser-support";
import { MdnDoc } from "@/components/mdn-doc";
import { PageHeader } from "@/components/page/header";
import { PageSection } from "@/components/page/section";
import { PageSubHeader } from "@/components/page/sub-header";
import { Layout } from "@/layouts/layout";
import styles from "./styles.module.css";

const title = "center an element";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Web/CSS/Layout_cookbook/Center_an_element" text={title}>
      in this recipe you will see how to center one box inside another.
      centering both horizontally and vertically was difficult before flexbox,
      with the box alignment properties it is now straightforward.
    </MdnDoc>
  </PageSection>
  <PageSection>
    <PageSubHeader title="with" subTitle="flexbox" />
    <div class:list={[styles.container, styles.flex]}>
      <div>center an element with flexbox</div>
    </div>
  </PageSection>
  <PageSection>
    <PageSubHeader title="with" subTitle="grid" />
    <div class:list={[styles.container, styles.grid]}>
      <div>center an element with grid</div>
    </div>
  </PageSection>
  <PageSection>
    <PageSubHeader title="with" subTitle="position and transform" />
    <div class:list={[styles.container, styles.positionTransform]}>
      <div class={styles.positionTransformBox}>
        center an element with position and transform
      </div>
    </div>
  </PageSection>
  <PageSection>
    <BrowserSupport
      items={[
        {
          value: "aspect-ratio",
          chrome: "88",
          firefox: "89",
          safari: "15",
        },
        {
          value: "display: flex",
          chrome: "29",
          firefox: "20",
          safari: "9",
        },
        {
          value: "display: grid",
          chrome: "57",
          firefox: "52",
          safari: "10.1",
        },
        {
          value: "place-items",
          chrome: "59",
          firefox: "45",
          safari: "11",
        },
        {
          value: "transform",
          chrome: "36",
          firefox: "16",
          safari: "9",
        },
      ]}
    />
  </PageSection>
  <BackToHomeLink />
</Layout>
