.button {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  color: rgb(var(--gray-100));
  display: inline-block;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-right: 0.25rem;
  padding: 0.5rem 1.1rem;
  -webkit-user-select: none;
  user-select: none;
}

.checkbox {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.checkbox:focus + .button {
  box-shadow: var(--outline);
}

.example1 {
  margin-top: 1rem;
}

.example1Transition {
  background: rgb(var(--pink-300));
  height: 3px;
  opacity: 0.8;
  transition: width 3s cubic-bezier(0.1, 0.05, 0, 1);
  width: 0%;
}

.example1Checkbox:checked ~ .example1Transition {
  width: 100%;
}

.example2 {
  margin-top: 1rem;
}

.example2Transition {
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  opacity: 0;
  padding: 1rem;
  transition: opacity 0.3s;
}

.example2Checkbox:checked ~ .example2Transition {
  opacity: 1;
}
