---
import Layout from "@/layouts/Layout.astro";

import BackToHomeLink from "@/components/BackToHomeLink.astro";
import MdnDoc from "@/components/MdnDoc.astro";
import PageHeader from "@/components/PageHeader.astro";
import PageSection from "@/components/PageSection.astro";
import PageSubHeader from "@/components/PageSubHeader.astro";

const title = "transition";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Web/CSS/CSS_Transitions" text={title}>
      css transitions is a module of css that lets you create gradual
      transitions between the values of specific css properties. the behavior of
      these transitions can be controlled by specifying their timing function,
      duration, and other attributes.
    </MdnDoc>
  </PageSection>
  <PageSection>
    <PageSubHeader
      id="progressbar"
      title="width"
      subTitle="e.g. loading indicator"
    />
    <div class="example1">
      <p class="hint">
        press the button below or use the keyboard to focus on the button and
        press the spacebar.
      </p>
      <input type="checkbox" id="example1-action" />
      <label for="example1-action" role="button">press me</label>
      <div
        class="example1-content"
        role="progressbar"
        aria-labelledby="progressbar"
        aria-valuenow={0}
        aria-valuemin={0}
        aria-valuemax={100}
      >
      </div>
    </div>
  </PageSection>
  <PageSection>
    <PageSubHeader title="opacity" subTitle="e.g. fade in / fade out" />
    <p class="hint">
      press the button below or use the keyboard to focus on the button and
      press the spacebar.
    </p>
    <div class="example2">
      <input type="checkbox" id="example2-action" />
      <label for="example2-action" role="button">press me</label>
      <div class="example2-content">fade in / fade out</div>
    </div>
  </PageSection>
  <BackToHomeLink />
</Layout>

<style>
  label[role="button"] {
    background: rgb(var(--gray-700));
    border-radius: 0.25rem;
    box-shadow: 0.05rem 0.1rem 0.1rem rgb(var(--gray-900));
    color: rgb(var(--gray-100));
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 0.25rem;
    padding: 0.5rem 1.1rem;
  }

  input[type="checkbox"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }

  input[type="checkbox"]:focus + label {
    box-shadow: var(--outline);
  }

  .hint {
    margin-bottom: 1rem;
  }

  .example1 {
    margin-bottom: 2rem;
  }

  .example1-content {
    background: rgb(var(--pink-300));
    height: 3px;
    opacity: 0.8;
    transition: width 3s cubic-bezier(0.1, 0.05, 0, 1);
    width: 0%;
  }

  .example1 > input:checked ~ div {
    width: 100%;
  }

  .example2-content {
    background: rgb(var(--gray-700));
    border-radius: 0.25rem;
    color: #c8c5d8;
    opacity: 0;
    padding: 1rem;
    transition: opacity 0.3s;
  }

  .example2 > input:checked ~ .example2-content {
    opacity: 1;
  }
</style>
