.container {
  margin-bottom: 1rem;
  padding: 0.75rem;
  text-align: center;
}

.withFlex {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  display: flex;
  justify-content: center;
  width: 50%;
}

@media (width >= 768px) {
  .withFlex {
    width: 25%;
  }
}

.withGrid {
  aspect-ratio: 4 / 3;
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
  width: 75%;
}

@media (width >= 768px) {
  .withGrid {
    width: 50%;
  }
}

.withPositionAndTranslate {
  aspect-ratio: 16 / 9;
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  position: relative;
  width: 100%;
}

@media (width >= 768px) {
  .withPositionAndTranslate {
    width: 75%;
  }
}

.withPositionAndTranslateBox {
  inset: 50% auto auto 50%;
  position: absolute;
  translate: -50% -50%;
}
