---
import Layout from "~/layouts/Layout.astro";

import BackToHomeLink from "~/components/BackToHomeLink.astro";
import BrowserSupport from "~/components/BrowserSupport.astro";
import MdnDoc from "~/components/MdnDoc.astro";
import PageHeader from "~/components/PageHeader.astro";
import PageSection from "~/components/PageSection.astro";
import PageSubHeader from "~/components/PageSubHeader.astro";

const title = "center an element";
---

<Layout title={title} description="">
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Web/CSS/Layout_cookbook/Center_an_element" text={title}
      >in this recipe you will see how to center one box inside another.
      centering both horizontally and vertically was difficult before flexbox,
      with the box alignment properties it is now straightforward.</MdnDoc
    >
  </PageSection>
  <PageSection>
    <PageSubHeader title="with" subTitle="flexbox" />
    <div class="container flex">
      <div>center an element with flexbox</div>
    </div>
  </PageSection>
  <PageSection>
    <PageSubHeader title="with" subTitle="grid" />
    <div class="container grid">
      <div>center an element with grid</div>
    </div>
  </PageSection>
  <PageSection>
    <PageSubHeader title="with" subTitle="position and transform" />
    <div class="container position-transform">
      <div class="position-transform-box">
        center an element with position and transform
      </div>
    </div>
  </PageSection>
  <PageSection>
    <BrowserSupport
      items={[
        {
          value: "aspect-ratio",
          chrome: "88",
          firefox: "89",
          safari: "15",
        },
        {
          value: "display: flex",
          chrome: "29",
          firefox: "20",
          safari: "9",
        },
        {
          value: "display: grid",
          chrome: "57",
          firefox: "52",
          safari: "10.1",
        },
        {
          value: "place-items",
          chrome: "59",
          firefox: "45",
          safari: "11",
        },
        {
          value: "transform",
          chrome: "36",
          firefox: "16",
          safari: "9",
        },
      ]}
    />
  </PageSection>
  <BackToHomeLink />
</Layout>

<style>
  .container {
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    text-align: center;
  }

  .flex {
    align-items: center;
    aspect-ratio: 1 / 1;
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    width: 25%;
  }

  .grid {
    aspect-ratio: 4 / 3;
    background: var(--gray-700);
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    width: 50%;
  }

  .position-transform {
    aspect-ratio: 16 / 9;
    background: var(--gray-700);
    position: relative;
    width: 75%;
  }

  @media (max-width: 640px) {
    .flex {
      width: 50%;
    }

    .grid {
      width: 75%;
    }

    .position-transform {
      width: 100%;
    }
  }

  .position-transform-box {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
