{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "overrides": [
    {
      "files": ["**/*.astro"],
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "declaration-property-value-no-unknown": true,
    "order/properties-alphabetical-order": true
  }
}
