.container {
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
}

.preview {
  display: flex;
  flex-flow: column;
  line-height: 1.2;
}

.preview::after {
  content: "preview";
  font-size: 0.75rem;
}

.partial {
  display: flex;
  flex-flow: column;
  line-height: 1.2;
}

.partial::after {
  content: "partial";
  font-size: 0.75rem;
}
