.weight {
  align-items: center;
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2.5rem 1.5rem;
}

.weightFieldset {
  align-items: center;
  border: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

.weightText {
  align-items: center;
  color: rgb(var(--gray-100));
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 625;
  gap: 1rem;
  line-height: 1.2;
}

@media (width >= 768px) {
  .weightText {
    font-size: 4rem;
    gap: 1.5rem;
  }
}

.weightText::before {
  border-left: 1px dashed rgb(var(--gray-400));
  content: "";
  height: 2rem;
  rotate: -30deg;
  width: 1rem;
}

.weightText::after {
  border-right: 1px dashed rgb(var(--gray-400));
  content: "";
  height: 2rem;
  rotate: 30deg;
  width: 1rem;
}

.weightValue {
  font-family: var(--font-mono);
  font-size: 1.25rem;
  font-weight: 600;
}

.weightInput {
  accent-color: rgb(var(--pink-300));
}

.width {
  align-items: center;
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2.5rem 1.5rem;
}

.widthFieldset {
  align-items: center;
  border: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

.widthText {
  align-items: center;
  color: rgb(var(--gray-100));
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-stretch: 90%;
  gap: 1rem;
  line-height: 1.2;
}

@media (width >= 768px) {
  .widthText {
    font-size: 4rem;
    gap: 1.5rem;
  }
}

.widthText::before {
  border-left: 1px dashed rgb(var(--gray-400));
  content: "";
  height: 2rem;
  rotate: -30deg;
  width: 1rem;
}

.widthText::after {
  border-right: 1px dashed rgb(var(--gray-400));
  content: "";
  height: 2rem;
  rotate: 30deg;
  width: 1rem;
}

.widthValue {
  font-family: var(--font-mono);
  font-size: 1.25rem;
  font-weight: 600;
}

.widthInput {
  accent-color: rgb(var(--pink-300));
}
