.container {
  align-items: center;
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  display: inline-flex;
  padding: 0.5rem 1.1rem;
  text-decoration: none;
}

.container:focus,
.container:active {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}
