---
import Layout from "@/layouts/Layout.astro";

import BackToHomeLink from "@/components/BackToHomeLink.astro";
import BrowserSupport from "@/components/BrowserSupport.astro";
import Code from "@/components/Code.astro";
import MdnDoc from "@/components/MdnDoc.astro";
import PageHeader from "@/components/PageHeader.astro";
import PageSection from "@/components/PageSection.astro";
import PageSubHeader from "@/components/PageSubHeader.astro";

const title = "subgrid";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Web/CSS/CSS_grid_layout/Subgrid" text={title}>
      when you add <Code code="display: grid" /> to a grid container, only the
      direct children become grid items and can then be placed on the grid you
      created. the children of these items display in normal flow.<br /><br />
       you can "nest" grids by making a grid item a grid container. these grids,
      however, are independent of the parent grid and of each other, meaning
      that they do not take their track sizing from the parent grid. this makes
      it difficult to line nested grid items up with the main grid.<br /><br />
       if you set the value <Code code="subgrid" /> on
      <Code code="grid-template-columns" />, <Code code="grid-template-rows" />
       or both, instead of creating a new track listing the nested grid uses the
      tracks defined on the parent.
    </MdnDoc>
  </PageSection>
  <PageSection>
    <PageSubHeader title="without subgrid" />
    <div class="box-container">
      <div class="box">
        <div class="box-title">title</div>
        <div class="box-image"></div>
        <div class="box-description">description<br />description</div>
      </div>
      <div class="box">
        <div class="box-title">
          title<br /><span class="box-subtitle">subtitle</span>
        </div>
        <div class="box-image"></div>
        <div class="box-description">description</div>
      </div>
    </div>
  </PageSection>
  <PageSection>
    <PageSubHeader title="with subgrid" />
    <div class="box-container">
      <div class="box box-subgrid">
        <div class="box-title">title</div>
        <div class="box-image"></div>
        <div class="box-description">description<br />description</div>
      </div>
      <div class="box box-subgrid">
        <div class="box-title">
          title<br /><span class="box-subtitle">subtitle</span>
        </div>
        <div class="box-image"></div>
        <div class="box-description">description</div>
      </div>
    </div>
  </PageSection>
  <PageSection>
    <BrowserSupport
      items={[
        {
          value: "subgrid",
          chrome: "117",
          firefox: "71",
          safari: "16",
        },
      ]}
    />
  </PageSection>
  <BackToHomeLink />
</Layout>

<style>
  .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .box {
    background: rgb(var(--gray-700));
    border-radius: 0.5rem;
    display: grid;
  }

  .box-subgrid {
    gap: 0;
    grid-row: span 3;
    grid-template-rows: subgrid;
  }

  .box-title {
    align-self: center;
    color: rgb(var(--gray-100));
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.75rem 1rem;
  }

  .box-subtitle {
    color: rgb(var(--gray-400));
    font-size: 1.0625rem;
    font-weight: normal;
  }

  .box-image {
    aspect-ratio: 16 / 9;
    background: rgb(var(--gray-600));
    border: 2px dashed rgb(var(--pink-300) / 80%);
  }

  .box-description {
    align-self: center;
    font-size: 1.0625rem;
    padding: 0.75rem 1rem;
  }
</style>
