.button {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.dialog {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  padding: 1rem 1.5rem 1.5rem;
}

@media (min-width: 768px) {
  .dialog {
    width: 35rem;
  }
}

.form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.formHeader {
  align-items: center;
  border-bottom: 1px solid rgb(var(--gray-400) / 25%);
  color: rgb(var(--gray-100));
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: space-between;
}

.formFooter {
  display: flex;
  gap: 0.75rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

.formFooterButton {
  background: rgb(var(--gray-600));
  border: 1px solid rgb(var(--gray-400) / 10%);
  color: rgb(var(--gray-100));
  padding: 0.3rem 0.75rem;
}

.actionResult {
  color: rgb(var(--pink-300));
  margin: 0.5rem 0;
}

.actionResult::before {
  color: rgb(var(--gray-400));
  content: "» ";
  margin-left: 0.25rem;
}

.close {
  align-items: center;
  background: transparent;
  display: flex;
  padding: 0.5rem;
}

.closeIcon {
  height: 1.5rem;
  width: 1.5rem;
}
