.button {
  background: rgb(var(--gray-700));
  border-radius: 0.25rem;
  box-shadow: 0.05rem 0.1rem 0.1rem rgb(var(--gray-900));
  color: rgb(var(--gray-100));
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 0.25rem;
  padding: 0.5rem 1.1rem;
}

.checkbox {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.checkbox:focus + .button {
  box-shadow: var(--outline);
}

.hint {
  margin-bottom: 1rem;
}

.example1 {
  margin-bottom: 2rem;
}

.example1Content {
  background: rgb(var(--pink-300));
  height: 3px;
  opacity: 0.8;
  transition: width 3s cubic-bezier(0.1, 0.05, 0, 1);
  width: 0%;
}

.example1 > .checkbox:checked ~ div {
  width: 100%;
}

.example2Content {
  background: rgb(var(--gray-700));
  border-radius: 0.25rem;
  color: rgb(var(--gray-400));
  opacity: 0;
  padding: 1rem;
  transition: opacity 0.3s;
}

.example2 > .checkbox:checked ~ .example2Content {
  opacity: 1;
}
