html,
body {
  background-color: #13111a;
  color: var(--body-color);
  cursor: default;
  font-family: var(--font-sans);
  font-size: 1.025rem;
  line-height: 1.5;
}

h1 {
  color: #eceff4;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  color: #eceff4;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 3.5rem;
}

a {
  color: var(--primary);
  cursor: default;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.25em;
}

a:active {
  color: #f472b6;
}

button {
  background: #24222b;
  border-radius: 0.25rem;
  box-shadow: 0.05rem 0.1rem 0.1rem #020009;
  color: #d8d6e8;
  font-weight: bold;
  padding: 0.5rem 1.1rem;
}

blockquote {
  margin-bottom: 2rem;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

dialog {
  background: #24222b;
  border: none;
  border-radius: 0.25rem;
  color: #d8dee9;
  width: 85%;
}

@media (min-width: 640px) {
  dialog {
    width: 35rem;
  }
}

dialog::backdrop {
  background: #13111a;
  opacity: 0.6;
}
