html {
  line-height: 1.5;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: rgb(var(--gray-800));
  color: rgb(var(--gray-400));
  cursor: default;
  font-family: system-ui, Arial, sans-serif;
  font-size: 1.0625rem;
  line-height: inherit;
}

h1 {
  color: rgb(var(--gray-100));
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  color: rgb(var(--gray-100));
  font-size: 2rem;
  line-height: 1.2;
}

a {
  color: rgb(var(--pink-300));
  cursor: default;
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.25em;
}

button {
  border-radius: 0.25rem;
  padding: 0.5rem 1.1rem;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
