pre {
  background: #24222b;
  border-radius: 0.25rem;
  color: #d9d6e9;
  display: block;
  font-family: var(--font-mono);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  padding: 0.75rem 1rem;
  white-space: pre;
}

:not(pre) > code {
  background: #35333c;
  border-radius: 0.25em;
  color: #eae7fa;
  font-family: var(--font-mono);
  font-size: 0.85rem;
  padding: 0.075rem 0.25rem;
  white-space: nowrap;
  word-wrap: break-word;
}
