dialog {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  width: 90%;
}

@media (min-width: 768px) {
  dialog {
    width: 35rem;
  }
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
