fieldset {
  border: 1px solid rgb(var(--gray-600));
  border-radius: 0.25rem;
  padding: 1rem;
}

legend {
  font-weight: bold;
  padding: 0 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.2rem;
  margin-left: 0.1rem;
}

input[type="text"],
input[type="password"] {
  background: rgb(var(--gray-900));
  border: 1px solid rgb(var(--gray-600));
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
}

progress,
input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  accent-color: rgb(var(--pink-300));
}

::placeholder {
  color: rgb(var(--gray-400) / 40%);
}
