@import url("the-new-css-reset");

progress {
  all: revert;
}

:focus {
  outline: 2px solid rgb(var(--gray-400));
  outline-offset: 0.1rem;
}

::marker {
  content: revert;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}
