@import url("the-new-css-reset/css/reset.css");

summary,
progress,
input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  all: revert;
}

:focus {
  outline: revert;
}

::marker {
  content: revert;
}
