:root {
  /* stylelint-disable */
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regularr, Menlo, monospace;
  /* stylelint-enable */
  --gray-100: 236 239 244;
  --gray-400: 183 180 199;
  --gray-600: 53 51 60;
  --gray-700: 36 34 43;
  --gray-800: 19 17 26;
  --gray-900: 2 0 9;
  --pink-300: 215 134 178;
  --blue-300: 147 197 253;
  --outline: 0 0 0 0.125rem rgb(var(--gray-400));
}
