:root {
  /* font family */
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace; /* stylelint-disable-line value-keyword-case */

  /* color */
  --gray-100: 236 239 244;
  --gray-400: 183 180 199;
  --gray-600: 53 51 60;
  --gray-700: 36 34 43;
  --gray-800: 19 17 26;
  --gray-900: 2 0 9;
  --pink-300: 215 134 178;
  --blue-300: 147 197 253;

  /* border radius */
  --rounded: 0.25rem;

  /* outline */
  --outline: 0 0 0 0.1rem rgb(var(--gray-400));
}
