---
import { Footer } from "../footer";
import { Head } from "../head";
import { Header } from "../header";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script is:inline>
      document.addEventListener("touchstart", () => {}, { passive: true });
    </script>
  </body>
</html>
