---
import Layout from "@/layouts/Layout.astro";

import BackToHomeLink from "@/components/BackToHomeLink.astro";

const title = "not found";
---

<Layout title={title}>
  <div class="container">
    <h1>{title}</h1>
    <p>this page does not exist.</p>
    <BackToHomeLink />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    place-items: center;
    row-gap: 1rem;
  }
</style>
