---
import { BackToHomeLink } from "@/components/back-to-home-link";
import { Layout } from "@/layouts/layout";
import styles from "@/styles/pages/404.module.css";

const title = "not found";
---

<Layout title={title}>
  <div class={styles.container}>
    <h1>{title}</h1>
    <p>this page does not exist.</p>
    <BackToHomeLink />
  </div>
</Layout>
