---
import Link from "@/components/Link.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="" description="">
  <ul>
    <li><Link href="/introduction">introduction</Link></li>
    <li><Link href="/grids">grids</Link></li>
    <li><Link href="/flexbox">flexbox</Link></li>
    <li><Link href="/center-an-element">center an element</Link></li>
    <li><Link href="/position">position</Link></li>
    <li><Link href="/transition">transition</Link></li>
    <li><Link href="/focus-within">:focus-within</Link></li>
    <li><Link href="/accent-color">accent-color</Link></li>
    <li><Link href="/text-underline">text underline</Link></li>
    <li><Link href="/img">&lt;img&gt;</Link></li>
    <li><Link href="/details">&lt;details&gt;</Link></li>
    <li><Link href="/dialog">&lt;dialog&gt;</Link></li>
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2.1rem;
  }

  a {
    padding-bottom: 0.5rem;
  }
</style>
