---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <ul>
    <li><a href="/denene/introduction/">introduction</a></li>
    <li><a href="/denene/flexbox/">flexbox</a></li>
    <li><a href="/denene/grids/">grids</a></li>
    <li><a href="/denene/subgrid/">subgrid</a></li>
    <li><a href="/denene/center-an-element/">center an element</a></li>
    <li><a href="/denene/position/">position</a></li>
    <li><a href="/denene/transition/">transition</a></li>
    <li><a href="/denene/focus-within/">:focus-within</a></li>
    <li><a href="/denene/accent-color/">accent-color</a></li>
    <li><a href="/denene/text-underline/">text underline</a></li>
    <li><a href="/denene/mask-image/">mask-image</a></li>
    <li><a href="/denene/img/">&lt;img&gt;</a></li>
    <li><a href="/denene/details/">&lt;details&gt;</a></li>
    <li><a href="/denene/dialog/">&lt;dialog&gt;</a></li>
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    font-size: 2.1rem;
    gap: 0.5rem;
  }

  a {
    padding-bottom: 0.5rem;
  }
</style>
