.container {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  font-weight: 600;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.subTitle {
  color: rgb(var(--gray-400));
  display: inline;
  font-size: 55%;
}
