.container {
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
}

.headerContainer {
  border-bottom: 1px solid rgb(var(--gray-600));
}

.header {
  padding: 1rem;
  text-align: center;
}

.dataHeader {
  display: inline-block;
  mask-image: linear-gradient(to left, #0000, #000 20%);
  overflow: scroll hidden;
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.dataHeader:focus {
  background: rgb(var(--gray-700));
  color: rgb(var(--gray-100));
}

.dataHeader::after {
  content: "";
  margin: 0 0.25rem 0 0;
}

@media (width >= 48rem) {
  .dataHeader::after {
    margin: 0 1.5rem 0 -1.5rem;
  }
}
