.container {
  margin-top: 1rem;
  table-layout: fixed;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.headerContainer {
  border-bottom: 1px solid rgb(var(--gray-600));
}

.row {
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
}

.header {
  padding: 0.75rem;
  vertical-align: middle;
}

.data {
  padding: 0.75rem;
  vertical-align: middle;
}

.data:is(:first-child) {
  -webkit-mask-image: linear-gradient(to left, #0000, #000 20%);
  mask-image: linear-gradient(to left, #0000, #000 20%);
  overflow-x: scroll;
}

.data:is(:first-child)::after {
  content: "";
  margin-right: 0.25rem;
}

@media (min-width: 768px) {
  .data:is(:first-child)::after {
    margin-right: 1.25rem;
  }
}
