---
import { links } from ".";
import styles from "./styles.module.css";
---

<ul class={styles.container}>
  {
    links.map((link) => (
      <li>
        <a class={styles.link} href={`/denene/${link.href}/`}>
          {link.text}
        </a>
      </li>
    ))
  }
</ul>
