.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content::before {
  color: rgb(var(--gray-100));
  content: "\201C";
  font-weight: 600;
}

.content::after {
  color: rgb(var(--gray-100));
  content: "\201D";
  font-weight: 600;
}

.footer {
  text-align: center;
}

.link {
  padding: 0.25rem 1rem;
}

.icon {
  height: 1rem;
  margin-left: 0.1rem;
  vertical-align: -0.175em;
  width: 1rem;
}
