.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}

.main::before {
  color: rgb(var(--gray-100));
  content: "\201C";
}

.main::after {
  color: rgb(var(--gray-100));
  content: "\201D";
}
