.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer {
  text-align: center;
}

.link {
  padding: 0.25rem 1rem;
}

.icon {
  height: 1rem;
  margin-left: 0.1rem;
  vertical-align: -0.175em;
  width: 1rem;
}
