---
import Link from "./Link.astro";
---

<section>
  <Link href="/">â† back to home</Link>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
  }

  a {
    padding: 0.75rem 1.5rem;
  }
</style>
