---
---

<section>
  <a href={import.meta.env.BASE_URL}>â† back to home</a>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
  }

  a {
    padding: 0.75rem 1.5rem;
  }
</style>
