---
import type { HTMLAttributes } from "astro/types";

type Props = {
  href: HTMLAttributes<"a">["href"];
};

const { props } = Astro;
---

<a href={props.href}>
  <slot />
</a>

<style>
  a {
    align-items: center;
    color: var(--gray-400);
    display: inline-flex;
    padding: 0.5rem 1.1rem;
    text-decoration: none;
  }

  a:focus,
  a:active {
    background: var(--gray-600);
    color: var(--gray-100);
  }
</style>
