---
import IconExternalLink from "@/icons/IconExternalLink.astro";

type Props = {
  path: string;
  text: string;
};

const prefix = "https://developer.mozilla.org/en-US/docs/";
---

<blockquote cite={prefix + Astro.props.path}>
  <p><slot /></p>
  <footer>
    <a href={prefix + Astro.props.path} target="_blank" rel="noreferrer"
      >mdn » {Astro.props.text}<IconExternalLink
        style={{ height: "1em", width: "1em", verticalAlign: "-0.175em" }}
      />
    </a>
  </footer>
</blockquote>

<style>
  p {
    margin-bottom: 0.5rem;
  }

  footer {
    text-align: center;
  }

  a {
    padding: 0.25rem 1rem;
  }
</style>
