---
type Props = {
  id?: string;
  title: string;
  subTitle?: string;
};

const { props } = Astro;
---

<h2 id={props.id}>
  {props.title}{!!props.subTitle && <small>{props.subTitle}</small>}
</h2>

<style>
  h2 {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5rem;
  }

  small {
    color: var(--gray-400);
    display: inline;
    font-size: 50%;
  }
</style>
