---
type Props = {
  id?: string;
  title: string;
  subTitle?: string;
};

const { id, title, subTitle } = Astro.props;
---

<h2 id={id}>
  {title}{!!subTitle && <small>{subTitle}</small>}
</h2>

<style>
  h2 {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  small {
    color: rgb(var(--gray-400));
    display: inline;
    font-size: 50%;
  }
</style>
