---
import type { HTMLAttributes } from "astro/types";

type Props = {
  class?: HTMLAttributes<"section">["class"];
};

const { props } = Astro;
---

<section class={props.class}><slot /></section>

<style>
  section {
    margin-bottom: 3.5rem;
  }
</style>
