.example1Container {
  background-color: rgb(var(--gray-700));
  border-bottom: 3px solid rgb(var(--pink-300) / 75%);
  border-radius: var(--rounded) var(--rounded) 0 0;
  margin-top: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .example1Container {
    width: 50%;
  }
}

.example1 {
  mask-image: linear-gradient(to left, #0000, #000 20%);
  overflow: scroll;
  padding: 1rem;
  white-space: nowrap;
}

.example1:focus {
  color: rgb(var(--gray-100));
}

.example1::after {
  content: "";
  margin-right: 2.5rem;
}

.example2Container {
  background-color: rgb(var(--gray-700));
  border-left: 3px solid rgb(var(--pink-300) / 75%);
  border-radius: 0 var(--rounded) var(--rounded) 0;
  height: 300px;
  margin-top: 1rem;
  width: 85%;
}

@media (min-width: 768px) {
  .example2Container {
    width: 50%;
  }
}

.example2 {
  height: 285px;
  mask-image: linear-gradient(to top, #0000, #000 20%);
  overflow: scroll;
  padding: 1rem;
}

.example2:focus {
  color: rgb(var(--gray-100));
}

.example2::after {
  content: "";
  display: block;
  margin-top: 1.5rem;
}
