.rowContainer {
  display: flex;
  justify-content: space-around;
}

.rowBox {
  border-bottom: 1px solid rgb(var(--gray-600));
  border-top: 1px solid rgb(var(--gray-600));
  color: rgb(var(--pink-300));
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

@media (width >= 768px) {
  .anonymousContainer {
    display: flex;
    justify-content: space-between;
  }
}

@media (width >= 768px) {
  .anonymousBox {
    width: 100%;
  }
}

@media (width >= 768px) {
  .anonymousBox:first-child {
    padding-right: 1rem;
  }
}

@media (width >= 768px) {
  .anonymousBox:last-child {
    padding-left: 1rem;
  }
}

.columnContainer {
  display: flex;
  flex-flow: column;
  margin-bottom: 3rem;
}

.columnBox {
  border-bottom: 1px solid rgb(var(--gray-600));
  color: rgb(var(--pink-300));
  font-weight: 600;
  padding: 0.75em 1rem;
}
