.container {
  background-color: rgb(var(--gray-700));
  box-shadow: 0 0.05rem 0.1rem rgb(var(--gray-900));
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.link {
  border-radius: var(--rounded);
  font-weight: 700;
  padding: 0.25rem 1.5rem;
}

.account {
  color: rgb(var(--gray-100));
  font-size: 0.95rem;
}

.repository {
  color: rgb(var(--pink-300));
}
