@keyframes drawer-open {
  from {
    translate: 20rem 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes drawer-close {
  from {
    display: block;
    translate: 0 0;
  }

  to {
    display: none;
    translate: 20rem 0;
  }
}

.drawerButton {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  color: rgb(var(--gray-100));
  -webkit-user-select: none;
  user-select: none;
}

.drawer {
  animation: drawer-close 0.3s;
  background: rgb(var(--gray-700));
  border-left: 1px solid rgb(var(--gray-600));
  height: 100%;
  inset: 0 0 auto auto;
  padding: 1rem 1.5rem;
  position: fixed;
  width: 80%;
  z-index: 110;
}

@media (width >= 48rem) {
  .drawer {
    width: 20rem;
  }
}

.drawer:popover-open {
  animation: drawer-open 0.3s;
}

html:has(.drawer:popover-open) {
  overflow: hidden;
}

.drawerInner {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.drawerHeader {
  border-bottom: 1px solid rgb(var(--gray-600));
  color: rgb(var(--gray-100));
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 0 0.5rem;
}

@media (width >= 48rem) {
  .drawerHeader {
    font-size: 1.5rem;
  }
}

.drawerMain {
  color: rgb(var(--gray-400));
  display: flex;
  flex-flow: column;
  font-size: 0.925rem;
  gap: 1rem;
}

@media (width >= 48rem) {
  .drawerMain {
    font-size: 1.0625rem;
  }
}

.drawerFooterButton {
  background: rgb(var(--gray-600));
  border: 1px solid rgb(var(--gray-400) / 10%);
  color: rgb(var(--gray-100));
  font-size: 0.925rem;
  margin: 1rem 0 0;
  padding: 0.3rem 0.75rem;
}

@media (width >= 48rem) {
  .drawerFooterButton {
    font-size: 1.0625rem;
    padding: 0.5rem 1rem;
  }
}

.toastButton {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  color: rgb(var(--gray-100));
  margin: 1rem 0 0;
  -webkit-user-select: none;
  user-select: none;
}

.toast {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  color: rgb(var(--gray-100));
  font-size: 0.925rem;
  font-weight: 600;
  height: fit-content;
  inset: auto 16px auto auto;
  overflow: scroll;
  padding: 1rem;
  position: fixed;
  text-align: center;
  white-space: nowrap;
  width: 10rem;
}

@media (width >= 48rem) {
  .toast {
    font-size: 1.0625rem;
    width: 15rem;
  }
}
