---
import Head from "./Head.astro";

import Footer from "./Footer.astro";
import Header from "./Header.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Header />
    <main><slot /></main>
    <Footer />
    <script is:inline>
      document.addEventListener("touchstart", () => {}, { passive: true });
    </script>
  </body>
</html>
