.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
  margin: 0 auto;
  padding: 7rem 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  .main {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .main {
    max-width: 768px;
  }
}
