.toolsContainer {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.tools {
  border: 1px solid rgb(var(--gray-400) / 50%);
  border-radius: var(--rounded);
  color: rgb(var(--gray-100));
  padding: 0.25rem 0.5rem;
}

.tools[open] {
  padding-bottom: 0.5rem;
}

.toolsSummary {
  align-items: center;
  display: flex;
  outline: none;
  padding: 0.25rem 0.5rem;
  -webkit-user-select: none;
  user-select: none;
}

.toolsSummary:focus-visible {
  outline: 2px solid rgb(var(--gray-400));
  outline-offset: 0.1em;
}

.toolsSummaryIcon {
  height: 1.25rem;
  margin: 0 0 0 auto;
  transform: rotate(-45deg);
  transition: transform 0.1s;
  width: 1.25rem;
}

.tools[open] .toolsSummaryIcon {
  transform: rotate(0deg);
}

.toolsMain {
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  padding: 1rem;
}

.toolsTool {
  color: rgb(var(--gray-100));
}

.dropdowns {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 0;
}

.dropdown {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
}

.dropdownButton {
  align-items: center;
  border-radius: var(--rounded);
  display: inline-flex;
  gap: 0.25rem;
  line-height: 1.2;
  padding: 0.75rem 0.9rem;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.dropdownButton:active,
.dropdownButton:focus-visible {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.dropdownButtonIcon {
  height: 1.125rem;
  width: 1.125rem;
}

.dropdownContent {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  margin: 0.5rem 0 0 -0.2rem;
  min-width: 10rem;
  padding: 0.75rem 0.5rem;
  position: absolute;
  z-index: 20;
}

.dropdownLink {
  align-items: center;
  border-radius: var(--rounded);
  display: inline-flex;
  gap: 0.25rem;
  line-height: 1.2;
  padding: 0.5rem;
}

.dropdownLink:active,
.dropdownLink:focus-visible {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.dropdownLinkIcon {
  color: rgb(var(--gray-400) / 75%);
  height: 1.25rem;
  margin: 0 0 0.0475rem;
  width: 1.25rem;
}

.dropdownDivider {
  border-bottom: 1px solid rgb(var(--gray-400) / 25%);
  margin: 0.25rem 0;
}
