.toolsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tools {
  border: 1px solid rgb(var(--gray-400) / 50%);
  color: rgb(var(--gray-100));
  padding: 0.25rem 0.5rem;
}

.tools[open] {
  padding-bottom: 0.5rem;
}

.toolsSummary {
  align-items: center;
  display: flex;
  outline: none;
  padding: 0.25rem 0.5rem;
  -webkit-user-select: none;
  user-select: none;
}

.toolsSummary:focus-visible {
  outline: 2px solid rgb(var(--gray-400));
  outline-offset: 0.1em;
}

.toolsSummaryIcon {
  height: 1.25rem;
  margin: 0 0 0 auto;
  transform: rotate(-45deg);
  transition: transform 0.1s;
  width: 1.25rem;
}

.tools[open] .toolsSummaryIcon {
  transform: rotate(0deg);
}

.toolsMain {
  background: rgb(var(--gray-700));
  color: rgb(var(--gray-400));
  padding: 1rem;
}

.toolsTool {
  color: rgb(var(--gray-100));
}

.dropdowns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.dropdown {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
}
