---
import { IconExternalLink } from "@/icons/external-link";
import styles from "./styles.module.css";

type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a href={href} class={styles.container} target="_blank" rel="noreferrer">
  <slot />
  <IconExternalLink class={styles.icon} />
</a>
