.formContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.textbox {
  margin-bottom: 1rem;
}

.example1:focus-within {
  border: 1px solid rgb(var(--blue-300));
}

.example1:focus-within > legend {
  color: rgb(var(--blue-300));
}

.example2:focus-within {
  border: 1px solid rgb(var(--pink-300));
}

.example2:focus-within > legend {
  color: rgb(var(--pink-300));
}
