.link {
  align-items: center;
  color: rgb(var(--pink-300));
  display: inline-flex;
  gap: 0.1rem;
  line-height: 1.3;
}

.icon {
  color: rgb(var(--pink-300) / 75%);
  height: 1.25rem;
  width: 1.25rem;
}

.example1Link {
  text-decoration-color: rgb(var(--pink-300) / 50%);
  text-decoration-line: underline;
}

.example2Link {
  border-bottom: 1px solid rgb(var(--pink-300) / 50%);
  text-decoration: none;
}

.example3Link {
  text-decoration-color: rgb(var(--pink-300) / 50%);
  text-decoration-line: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.25em;
}

.example4Link {
  background-image: linear-gradient(
    transparent 95%,
    rgb(var(--pink-300) / 50%) 0
  );
  text-decoration: none;
}

.example5Link {
  box-shadow: 0 1px 0 0 rgb(var(--pink-300) / 50%);
  text-decoration: none;
}
