---
import "@/styles/app.css";

import { BackToHomeLink } from "@/components/back-to-home-link";
import { BrowserSupport } from "@/components/browser-support";
import { MdnDoc } from "@/components/mdn-doc";
import { PageHeader } from "@/components/page/header";
import { PageSection } from "@/components/page/section";
import { Layout } from "@/layouts/layout";
import styles from "./_styles.module.css";

const title = "grids";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Learn/CSS/CSS_layout/Grids" text={title}>
      css grid layout is a two-dimensional layout system for the web. it lets
      you lay content out in rows and columns. it has many features that make
      building complex layouts straightforward. this article will explain all
      you need to know to get started with page layout.
    </MdnDoc>
  </PageSection>
  <PageSection>
    <div class={styles.container}>
      <div class:list={[styles.box, styles.box1]}>one</div>
      <div class:list={[styles.box, styles.box2]}>two</div>
      <div class:list={[styles.box, styles.box3]}>three</div>
      <div class:list={[styles.box, styles.box4]}>four</div>
      <div class:list={[styles.box, styles.box5]}>five</div>
      <div class:list={[styles.box, styles.box6]}>six</div>
      <div class:list={[styles.box, styles.box7]}>seven</div>
      <div class:list={[styles.box, styles.box8]}>eight</div>
      <div class:list={[styles.box, styles.box9]}>nine</div>
      <div class:list={[styles.box, styles.box10]}>ten</div>
    </div>
  </PageSection>
  <PageSection>
    <BrowserSupport
      items={[
        {
          value: "display: grid",
          chrome: "57",
          firefox: "52",
          safari: "10.1",
        },
      ]}
    />
  </PageSection>
  <BackToHomeLink />
</Layout>
